

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 1080px;
    padding: 20px 10px;
    margin: 0 auto;
}

#downloads,#forkme_banner {
    position: absolute;
    z-index: 10;
}

#forkme_banner {
    display: block;
    top: 0;
    right: 10px;
    padding: 10px 50px 10px 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


#header_wrap .inner {
    padding: 50px 10px 30px;
}

#project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    text-shadow: #111 0 0 10px;
}

#project_tagline {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: 0 0;
    text-shadow: #111 0 0 10px;
}

#downloads {
    width: 210px;
    bottom: -40px;
    right: 0;
    height: 70px;
    background: url(images/icon_download.png) 0 90% no-repeat;
}

.tar_download_link,.zip_download_link {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
}

.zip_download_link {
    background: url(images/sprite_download.png) bottom left no-repeat;
}

.tar_download_link {
    background: url(images/sprite_download.png) bottom right no-repeat;
    margin-left: 10px;
}

.zip_download_link:hover {
    background: url(images/sprite_download.png) top left no-repeat;
}

.tar_download_link:hover {
    background: url(images/sprite_download.png) top right no-repeat;
}

fieldset,legend {
    border: 1px solid #999;
    background: #fefefe;
}

#main_content_wrap {
    background: #f2f2f2;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

#footer_wrap {
    background: #212121;
}

@media screen and (max-width:480px) {
    .inner,code,pre {
        min-width: 320px;
        max-width: 480px;
    }

    body {
        font-size: 14px;
    }

    #downloads {
        display: none;
    }

    #project_title {
        font-size: 32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    code,pre {
        font-size: 11px;
        width: 98%;
        padding: 1%;
    }
}

.donate-plea {
    width: 50%;
    float: left;
    text-align: left;
}

.donate-plea form {
    float: left;
    margin-bottom: 10px;
}

.copyright {
    float: right;
    text-align: right;
}

.badges {
    margin-top: -30px;
}

.social {
    margin-top: -40px;
}

.social .chicklets {
    text-indent: -9999px;
}

fieldset {
    padding: 20px;
    margin: 20px 0;
}

legend {
    padding: 5px 10px;
}

#rendered-form {
    clear: both;
    float: left;
    width: 62%;
    margin-right: 2%;
}

#rendered-form .form-group>label {
    font-weight: 700;
    font-size: 1.1em;
}

.render-description {
    width: 36%;
    float: right;
}

#main_content hr {
    clear: both;
}

.build-form {
    margin-bottom: 30px;
}