
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,a {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: "bpg_quadrosquare_mtavruli_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_quadrosquare_mtavruli_2009.ttf);
}

@font-face {
    font-family: "bpg_arial_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_arial_2009.ttf);
}

html, body {
	width: 100%;
	height: 100%;
}

.admin {
	width: 100%;
	min-height: 100%;
}

.login_body {
	background: #5f336d;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
}

.login {
	position: relative;
	max-width: 260px;
	margin: auto;
	margin-top: 18%;
	overflow: hidden;
}

.login h1 {
	color: #fff;
	font: 30px 'lato';
	padding-bottom: 5px;
	text-align: center;
}

.login input {
	width: 92%;
	padding: 4%;
	border: none;
	border: 1px solid #323537;
	border-radius: 3px;
	outline: none;
	margin-bottom: 2%;
	color: #5f336d;
	font: 15px 'bpg_arial_2009';
}

.login form > .button {
	width: 100%;
}

.login p a {
	color: #c08fcf;
	font: 14px 'bpg_arial_2009';
	text-align: center;
	padding-top: 4%;
	display: block;
}

.button {
	background: linear-gradient(to bottom, #7f4b90 0%,#794689 42%,#70407f 100%);
	border: none;
	padding: 4%;
	border-radius: 3px;
	border: 1px solid #5d2e6c;
	color: #fff;
	font: 14px 'bpg_quadrosquare_mtavruli_2009';
	cursor: pointer;
}

.button:hover {
	background: linear-gradient(to bottom, #8f5ba0 0%,#804e91 41%,#814296 100%);
}

.top {
	background: linear-gradient(to bottom, #7f4b90 0%,#794689 42%,#70407f 100%);
	border-bottom: 1px solid #5d2e6c;
	overflow: hidden;
	width: 100%;
	height: 57px;
	position: fixed;
	z-index: 100;
}

.admin_logo {
	background: linear-gradient(to bottom, #7f4b90 0%,#794689 42%,#70407f 100%);
	float: left;
	font: 15px 'lato';
	color: #fff;
	padding: 10px;
	width: 100%;
}

.admin_logo a {
	color: #fff;
}

.admin_logo strong {
	font: bold 30px 'lato';
}

.admin_left {
	position: fixed;
	top: 57px;
	background: #f6f6f6;
	width: 15%;
	height: 100%;
	overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
}

.nav { 
	display: block;
	font: 14px 'bpg_arial_2009';
	padding: 7%;
	color: #928198;
	border-bottom: 1px solid #e0e0e0;
}

.selected, .nav:hover  { 
	background: #7f4b90;
	color: #fff;
	border-bottom: none;
}

.drop_ul {
	background: #6f3b80;
}

.drop_ul li a { 
	display: block;
	font: 14px 'bpg_arial_2009';
	padding: 7%;
	color: #af8bbb;
	border-bottom: 1px solid #653275;
}

.drop_ul li a:hover {
	color: #e6d4ec;
}

.user_panel {
	background: #50215f;
	padding: 5%;
	overflow: hidden;
}

.user_photo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.user_name {
	color: #fff;
	font: 15px 'lato', 'bpg_arial_2009';
	display: block;
	margin-top: 17px;
}

.lab_name {
	color: #af8bbb;
	font: 12px 'lato', 'bpg_arial_2009';
	display: block;
}

.admin_section {
	display: inline-block;
	background: #fff;
	width: 85%;
	height: 100%;
	overflow: hidden;
	margin: 60px 0 0 15%;
}

.admin_section h1 {
	background: #f6f6f6;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 20px 2% 0 2%;
    padding: 10px 1%;
    font: 15px 'bpg_quadrosquare_mtavruli_2009';
    color: #7f4b90;
}

.form_adding {
	width: 96%;
	height: 100%;
	margin: 0 2%;
}

.form_adding input,textarea,select {
	width: 100%;
	padding: 10px;
	border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e0e0e0;
	border-radius: 3px;
	outline: none;
	margin-top: 20px;
	font: 15px 'bpg_arial_2009';
}

.event_start_date, .event_end_date {
	width: 49% !important;
	float: left;
}
.event_end_date {
	margin-left: 2%;
}

.errors {
	font: 14px 'bpg_arial_2009';
	margin-bottom: 5px;
	border-radius: 4px;
	color: #e24b4a;
	overflow: hidden;
	padding-top: 5px;
}

.edit_mentors {
	float: left;
	width: 15.6%;
	margin: 20px 0 0 2%;
	text-align: center;
	background: #f6f6f6;
	padding: 10px 1% 20px 1%;
	overflow: hidden;
}

.edit_mentors h2 {
	font: 14px 'bpg_quadrosquare_mtavruli_2009';
	padding-bottom: 10px;
}

.edit_mentors_img {
	width: 100%;
	height: 150px;
}

.mdel {
	background: #e96f6f;
	color: #fff;
	padding: 2% 0;
	font-size: 20px;
	float: left;
	width: 25%;
}

.mupd {
	background: #50215f;
	color: #fff;
	padding: 2% 0;
	font-size: 20px;
	width: 75%;
	float: left;
}

.admin_event_form {
	background: #f6f6f6;
	margin: 20px 2% 0 2%;
	border-radius: 4px;
	overflow: hidden;
}

.admin_event_location {
	float: left;
	padding: 9px;
	color: #939393;
	font: 14px 'bpg_arial_2009';
	width: 25%;
}

.admin_event_date {
	float: left;
	padding: 9px;
	color: #939393;
	font: 14px 'bpg_arial_2009';
}

.admin_event_form h2 {
	font: 15px 'bpg_arial_2009';
	float: left;
	padding: 7px 5px;
	color: #606060;
	width: 50%;
}

.editors {
	float: right;
	background: #f5f5f5;
	border-left: 1px solid #ebebeb;
	padding: 0 4px;
}

.editors a {
	padding: 9px;
	display: block;
	float: right;
}

.btn-upload {
	border: none;
	font: 15px 'bpg_arial_2009';
	cursor: pointer;
	background: #eeeeee;
	border-radius: 4px;
	color: #474747;
	padding: 5px 10px;
	outline: none;
	margin-top: 17px;
}

.btn-upload i {
	font-size: 30px;
	float: left;
	margin-right: 10px;
}

.btn-upload span {
	padding-top: 5px;
	float: left;
}

.btn-upload:hover {
	background: #50215f;
	color: #fff;
}

.updated {
	background: #baeac7;
	color: #5d8066;
	margin: 20px 2% 0 2%;
	padding: 1%;
	font: 15px 'bpg_arial_2009';
}

.build-form {
	margin: 2%;
}

.edit_forms {
	float: left;
	width: 15.6%;
	margin: 20px 0 0 2%;
	text-align: center;
	background: #f6f6f6;
	padding: 10px 1% 20px 1%;
	overflow: hidden;
}

.edit_forms h2 {
	font: 20px 'lato';
	padding-bottom: 10px;
}

.formsi {
	font-size: 80px;
	color: #b0b0b0;
}