* {
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@font-face {
    font-family: "bpg_quadrosquare_mtavruli_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_quadrosquare_mtavruli_2009.ttf);
}

@font-face {
    font-family: "bpg_arial_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_arial_2009.ttf);
}

body, html {
    background: #F2F2F2;
}

.top_nav {
    width: auto;
    background: #fff;
    border-bottom: 1px solid #F9F9F9;
    overflow: hidden;
}

.top_nav li a {
    float: left;
    display: block;
    padding: 15px;
    color: #6D6D6D;
    font: 15px 'bpg_quadrosquare_mtavruli_2009';
}

.wrapper {
    margin: auto;
}

.event_form {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 2% 0 0 2%;
    border-radius: 10px;
    background: #f9f9f9;
    width: 30.5%;
    position: relative;
}

.event_img {
    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.event_info {
    position: absolute;
    top: 0px;
    right:0;
    left: 0;
    color: #fff;
    font: 14px 'arial';
    background: linear-gradient(to bottom, rgba(140,19,181,0) -1%,rgba(140,19,181,0.3) 0%,rgba(140,19,181,0.4) 1%,rgba(140,19,181,0.5) 100%);
}

.event_form h1 {
    color: #fff;
    font: bold 3.0vh 'arial';
    padding: 3%;
}

.event_location {
    font: 3.0vh 'arial';
    padding-top: 10px;
    color: #666666;
}

.event_date {
    color: #A5A5A5;
    font: 13px 'arial';
    padding: 10px 0;
}

.get_event {
    font: 2.0vh 'arial';
    padding: 2%;
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    left:32%;
    right:32%;
    top: 13vh;
    border-radius: 4px;
}

.get_event:hover {
    background: rgba(255, 255, 255, 0.2);;
}

.mentors_form {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 2% 0 0 2%;
    border-radius: 10px;
    background: #F7F7F7;
    width: 17.6%;
    height: 30vh;
    position: relative;
}

.mentors_form h1 {
    font: 20px 'arial';
    color: #fff;
    z-index: 100;
    padding-top: 20px;
    position: absolute;
    right: 0;
    left: 0;
}

.mentors_info {
    position: absolute;
    bottom: 0px;
    right:0;
    left: 0;
    color: #fff;
    font: 14px 'arial';
    height: 100%;
    background: linear-gradient(to bottom, rgba(140,19,181,0) -1%,rgba(140,19,181,0.2) 0%,rgba(140,19,181,0.4) 1%,rgba(140,19,181,0.4) 100%);
}

.mentors_info span {
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
}

.show_event h1 {
    color: #fff;
    font: bold 3.0vh 'arial';
    padding: 3%;
    text-align: center;
}

.event_overview {
    font: 15px 'arial';
    padding: 10px 0;
}

section {
    overflow: hidden;
}

.sec_title {
    font: 30px 'bpg_quadrosquare_mtavruli_2009';
    padding: 2% 2% 0 2%;
}

.main_event_form {
    margin: 1% 0 1% 2%;
}

.main_events > .sec_title {
    padding-top: 1%;
}

.main_news {
    background: #191819;
}

.main_news > .sec_title {
    margin: 0;
    background: none;
    color: #fff;
    margin-bottom: 2%;
}

.main_news > .sec_title a {
    color: #fff;
    background: #000;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    padding: 10px;
}

.main_news > .sec_title a:hover {
    background: #50215f;
}

.news_form {
    float: left; 
    width: 28%;
    color: #fff;
    font: 15px 'bpg_arial_2009';
    line-height: 20px;
    margin: 0 0 2% 2%;
    border-right: 1px solid #111111;
    padding: 0 2% 2% 0;
}

.news_form:last-child {
    border-right: none;
}

.news_form a {
    color: #767676;
}

.news_form a:hover {
    color: #fff;
}

.news_form span {
    display: block;
    color: #4c4c4c;
    font: 12px 'bpg_quadrosquare_mtavruli_2009';
    padding-top: 2%;
}

.main_mentors_form {
    border-radius: 0;
    width: 20%;
    height: 25vh;
    margin: 0;
}

.main_mentors > .sec_title {
    padding: 1% 2% 1% 2%;
    background: #50215f;
    color: #fff;
}

.main_mentors > .sec_title a {
    color: #fff;
    background: #461a54;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    padding: 10px;
}

.main_mentors > .sec_title a:hover {
    background: #fff;
    color: #461a54;
}

.blog_form {
    overflow: hidden;
    background: #FFF;
    margin: 2% 2% 0 2%;
    color: #000;
    border-radius: 4px;
    position: relative;
}

.blog_form h1 {
    font: bold 20px 'bpg_arial_2009';
    padding-top: 1%;
    color: #2b2b2b;
}

.blog_form h1 span {
    font-size: 12px;
    color: #878787;
    font-weight: normal;
}

.blog_img {
    width: 20%;
    float: left;
    height: 20vh;
    margin: 1%;
    border-radius: 4px;
}

.blog_text {
    font: 15px 'bpg_arial_2009';
    padding-top: 0.5%;
}

.readmore {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font: bold 16px 'arial';
    color: #4b4b4b;
}

@media (max-width: 768px) {
  .news_form {
    width: 98%;
    border-right: none;
    border-top: 1px solid #111111;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2%;
  }
  .main_mentors_form {
    width: 50%;
  }
  .main_mentors_form:last-child {
    display: none;
  }
  .main_event_form {
    width: 96%;
  }
  .mentors_form {
    width: 30%;
  }
}