* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@font-face {
    font-family: "bpg_quadrosquare_mtavruli_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_quadrosquare_mtavruli_2009.ttf);
}

@font-face {
    font-family: "bpg_arial_2009";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/bpg_arial_2009.ttf);
}

body, html {
    background: #F2F2F2;
    width: 100%;
    height: 100%;
}

.top_nav {
    width: auto;
    background: linear-gradient(to bottom, #7f4b90 0%,#794689 42%,#70407f 100%);
    border-bottom: 1px solid #5d2e6c;
    overflow: hidden;
}

.top_nav li a {
    float: left;
    display: block;
    padding: 20px 15px;
    color: #fff;
    font: 15px 'bpg_quadrosquare_mtavruli_2009';
    border-right: 1px solid #5d2e6c;
}

.top_nav li a:hover {
    background: #5d2e6c;
}

.logo {
    background: -webkit-linear-gradient(left, rgba(80,33,95,0) 0%,rgba(80,33,95,0.65) 99%,rgba(80,33,95,0.65) 100%);
    float: left;
    font: 15px 'lato';
    color: #fff;
    padding: 11px 30px;
}

.logo a {
    color: #fff;
}

.logo strong {
    font: bold 30px 'lato';
}


.wrapper {
    margin: auto;
    min-height: 100%;
}

.event_form {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 2% 0 0 2%;
    border-radius: 10px;
    background: #f9f9f9;
    width: 30.5%;
    position: relative;
    box-shadow: 0px 0px 2px #CECECE;
}

.show_event > .event_img {
    width: 100%;
    height: 40vh;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.event_img {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    position: relative;
}

.event_info {
    position: absolute;
    top: 0px;
    right:0;
    left: 0;
    color: #fff;
    font: 14px 'arial';
    background: linear-gradient(to bottom, rgba(140,19,181,0) -1%,rgba(140,19,181,0.3) 0%,rgba(140,19,181,0.4) 1%,rgba(140,19,181,0.5) 100%);
}

.event_form h1 {
    color: #fff;
    font: bold 3.0vh 'arial';
    padding: 3%;
}

.event_location {
    font: 3.0vh 'arial';
    padding-top: 10px;
    color: #666666;
}

.event_date {
    color: #A5A5A5;
    font: 13px 'arial';
    padding: 10px 0;
}

.get_event {
    font: 2.0vh 'arial';
    padding: 2%;
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    left:32%;
    right:32%;
    top: 13vh;
    border-radius: 4px;
}

.get_event:hover {
    background: rgba(255, 255, 255, 0.2);;
}

.mentors_form {
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 2% 0 0 2%;
    border-radius: 10px;
    background: #F7F7F7;
    width: 17.6%;
    height: 30vh;
    position: relative;
}

.mentors_form h1 {
    font: 20px 'arial';
    color: #fff;
    z-index: 100;
    padding-top: 20px;
    position: absolute;
    right: 0;
    left: 0;
}

.mentors_info {
    position: absolute;
    bottom: 0px;
    right:0;
    left: 0;
    color: #fff;
    font: 14px 'arial';
    height: 100%;
    background: linear-gradient(to bottom, rgba(140,19,181,0) -1%,rgba(140,19,181,0.2) 0%,rgba(140,19,181,0.4) 1%,rgba(140,19,181,0.4) 100%);
}

.mentors_info span {
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
}

.shov_event_leftbar {
    float: left;
    width: 19%;
    background: #fff;
    overflow: hidden;
}

.shov_event_leftbar h1 {
    padding: 3%;
    color: #666666;
    font: 16px 'bpg_quadrosquare_mtavruli_2009';
    background: #fafafa;
    border: solid #eaeaea;
    border-width: 1px 0 1px 0;
}

.show_event {
    width: 80%;
    height: 100%;
    float: right;
}

.show_event h1 {
    color: #fff;
    font: bold 3.0vh 'arial';    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.event_overview {
    font: 15px 'bpg_arial_2009';
    line-height: 22px;
    padding: 1%;
    background: #fff;
    color: #656565;
    margin-top: 2%;
}

.show_event_mentors {
    width: 100%;
    background: #fff;
    text-align: center;
}

.show_event_mentors h2 {
    background: #fafafa;
    border: solid #eaeaea;
    border-width: 1px 0 1px 0;
    font: 20px 'bpg_quadrosquare_mtavruli_2009';
    padding: 1%;
    color: #4f4f4f;
    text-align: left;
}

.show_event_mentors_form {
    display: inline-block;
    position: relative;
    margin: 1% 0 1% 1%;
}

.show_event_mentors_img {
    width: 25vh;
    height: 25vh;
}

.show_event_mentors_form h2 {
    font: 20px 'bpg_quadrosquare_mtavruli_2009';
    position: absolute;
}

.show_event_mentors_form h2 {
    font: 15px 'bpg_arial_2009';
    color: #000;
}

.show_event_mentors_form > .mentors_info span {
    top: 0;
    text-align: center;
    padding-top: 10px;
}

.agenda { 
    color: #808080;
    font: 13px 'bpg_arial_2009';
    padding: 3%;
}

section {
    overflow: hidden;
}

.sec_title {
    font: 30px 'bpg_quadrosquare_mtavruli_2009';
    padding: 2% 2% 0 2%;
}

.main_event_form {
    margin: 1% 0 1% 2%;
}

.main_events > .sec_title {
    padding-top: 1%;
}

.main_news {
    background: #191819;
}

.main_news > .sec_title {
    margin: 0;
    background: none;
    color: #fff;
    margin-bottom: 2%;
}

.main_news > .sec_title a {
    color: #fff;
    background: #000;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    padding: 10px;
}

.main_news > .sec_title a:hover {
    background: #50215f;
}

.news_form {
    float: left; 
    width: 28%;
    color: #fff;
    font: 15px 'bpg_arial_2009';
    line-height: 20px;
    margin: 0 0 2% 2%;
    border-right: 1px solid #111111;
    padding: 0 2% 2% 0;
}

.news_form:last-child {
    border-right: none;
}

.news_form a {
    color: #767676;
}

.news_form a:hover {
    color: #fff;
}

.news_form span {
    display: block;
    color: #4c4c4c;
    font: 12px 'bpg_quadrosquare_mtavruli_2009';
    padding-top: 2%;
}

.main_mentors_form {
    border-radius: 0;
    width: 20%;
    height: 25vh;
    margin: 0;
}

.main_mentors > .sec_title {
    padding: 1% 2% 1% 2%;
    background: #50215f;
    color: #fff;
}

.main_mentors > .sec_title a {
    color: #fff;
    background: #461a54;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    padding: 10px;
}

.main_mentors > .sec_title a:hover {
    background: #fff;
    color: #461a54;
}

.blog_form {
    overflow: hidden;
    background: #FFF;
    margin: 2% 2% 0 2%;
    color: #000;
    border-radius: 4px;
    position: relative;
}

.blog_form h1 {
    font: bold 20px 'bpg_arial_2009';
    padding-top: 1%;
    color: #2b2b2b;
}

.blog_form h1 span {
    font-size: 12px;
    color: #878787;
    font-weight: normal;
}

.blog_img {
    width: 20%;
    float: left;
    height: 20vh;
    margin: 1%;
    border-radius: 4px;
}

.blog_text {
    font: 15px 'bpg_arial_2009';
    padding-top: 0.5%;
}

.readmore {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font: bold 16px 'arial';
    color: #4b4b4b;
}

.register_event_button {
    background: linear-gradient(to bottom, #7f4b90 0%,#794689 42%,#70407f 100%);
    border: none;
    border-bottom: 1px solid #5d2e6c;
    padding: 1%;
    border-radius: 2px;
    color: #fff;
    font: 20px 'bpg_arial_2009';
    float: right;
    margin: 1%;
}

.register_event {
    background: #fff;
    border-radius: 2px 4px 2px;
    overflow: hidden;
    box-shadow: 0px 0px 2px #CECECE;
}

.register_event > .event_location {
    padding: 1% 0 0 1%;
    font: 20px 'arial', 'bpg_arial_2009';
}

.register_event > .event_date {
    padding: 5px 0 1% 1%;
}

/*---reg popup---*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 80%;
    height: 92%;
    position: relative;
    margin: 2% auto;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    outline: 1px solid rgba(0,0,0,.03);
    overflow: hidden;
}
.modalDialog > div h2 {
    font: 20px 'open sans', 'bpg_arial_2009';
    border-bottom: 1px solid #f1f1f1;
    background: #f7f7f7;
    overflow: hidden;
}

.modalDialog > div h2 span {
    float: left;
    padding: 15px 0 0 20px;
}
.popup_registration_form {
    overflow: hidden;
    height: 100%;
    padding: 1%;
}

.popup_registration_form:hover {
    overflow-y: scroll;
}

.popup_registration_form::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
.popup_registration_form::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color:  #7f4b90;
}
.popup_registration_form::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.popup_registration_form::-webkit-scrollbar-corner {
    background-color: transparent;
}

.close {
    color: #727272;
    line-height: 25px;
    float: right;
    margin: 10px;
    text-align: center;
    width: 24px;
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
}
.close:hover {
    background: #e9e9e9;
    color: #7f4b90;
}

.pages {
    overflow: hidden;
    background: #fff;
    min-height: 100%;
}

.pages h1 {
    font: 20px 'bpg_quadrosquare_mtavruli_2009';
    padding: 1%;
}

.pages p {
    font: 15px 'bpg_arial_2009';
    line-height: 22px;
    padding: 0 1%;
    color: #656565;
}

@media (max-width: 768px) {
  .news_form {
    width: 98%;
    border-right: none;
    border-top: 1px solid #111111;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2%;
  }
  .main_mentors_form:last-child {
    display: none;
  }
  .main_event_form {
    width: 96%;
  }
  .mentors_form {
    width: 20%;
  }
  .main_mentors_form {
    width: 33.3%;
  }
}
@media (max-width: 450px) {
  .mentors_form {
    width: 96%;
  }
  .main_mentors_form {
    width: 100%;
  }
  .event_form {
    width: 96%;
  }
  .blog_img {
    width: 98%;
  }
  .blog_form h1 {
    font-size: 14px;
    padding: 5px 0 0 5px;
  }
  .blog_text {
    font-size: 12px;
    padding: 5px 0 0 5px;
  }
  .shov_event_leftbar {
    display: none;
  }
  .show_event {
    width: 100%;
  }
  .register_event_button {
    width: 98%;
  }
  .register_event > .event_location {
    font-size: 14px;
  }
}








/*--forms--*/

.section > .button {
    padding-left: 20px;
}
.fb-clear {
    clear: both
}
.fb-main {
    margin: 0 2%;
    position: relative;
    font-family: 'bpg_arial_2009', Tahoma
}
.fb-save-wrapper {
    position: absolute;
    right: 20px;
    top: 10px
}
.fb-no-response-fields {
    color: #999
}
.fb-tabs {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #ccc
}
.fb-tabs li {
    display: inline-block
}
.fb-tabs li a {
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent
}
.fb-tabs li.active a {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    border-bottom-color: #fff
}
.fb-tab-content .fb-tab-pane {
    padding: 0 20px;
    display: none
}
.fb-tab-content .fb-tab-pane.active {
    display: block
}
.fb-add-field-types .section {
    padding-bottom: 5px;
    margin-bottom: 20px
}
.fb-add-field-types {
    font-size: 0
}
.fb-add-field-types a {
    font-size: 13px;
    display: inline-block;
    width: 48.5%;
    background-color: #1abc9c;
    margin-bottom: 9px;
    box-sizing: border-box
}
.fb-add-field-types a:nth-child(odd) {
    margin-right: 3%
}
.fb-add-field-types a .symbol {
    opacity: .6;
    margin: 0 .25em 0 -1em
}
.fb-response-fields {
    padding-bottom: 150px
}
.fb-response-fields a.sortable-placeholder {
    display: block;
    border: 1px dashed #ddd;
    min-height: 80px;
    height: 80px;
    width: 100%
}
.fb-field-wrapper {
    cursor: pointer;
    position: relative;
    margin-bottom: 20px
}
.fb-field-wrapper input {
    border-radius: 3px;
    border: thin solid #ddd
}
.fb-field-wrapper:hover .actions-wrapper,
.fb-field-wrapper.editing .actions-wrapper {
    display: block
}
.fb-field-wrapper:hover .subtemplate-wrapper {
    border-color: #ddd;
    border-radius: 3px
}
.fb-field-wrapper.editing {
    background-color: #ecf0f1;
    border-radius: 3px
}
.fb-field-wrapper.editing .subtemplate-wrapper {
    border-color: #d9e1e3;
    border-style: solid;
    margin: 0;
    border-radius: 3px
}
.fb-field-wrapper .actions-wrapper {
    display: none;
    position: absolute;
    bottom: -7px;
    right: 5px;
    z-index: 3
}
.fb-field-wrapper .actions-wrapper a {
    display: inline-block;
    background-color: #ccc;
    padding: 2px 8px
}
.edit-response-field input,
.edit-response-field textarea,
.edit-response-field select {
    border: thin solid #ddd;
    border-radius: .25em;
    padding: .5em;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}
.edit-response-field input:focus,
.edit-response-field textarea:focus,
.edit-response-field select:focus {
    outline: none;
    border: thin solid #794689;
}
.edit-response-field select {
    font-size: 14px
}
.fb-field-wrapper .actions-wrapper a.js-duplicate,
.fb-edit-field-wrapper .js-add-option {
    background-color: #2ecc71;
    border: none
}
.fb-field-wrapper .actions-wrapper a.js-clear,
.fb-edit-field-wrapper .js-remove-option {
    background-color: #e74c3c;
    border: none
}
.fb-field-wrapper .subtemplate-wrapper {
    border: 1px dashed transparent;
    margin-bottom: 10px;
    padding: 10px;
    position: relative
}
.fb-field-wrapper .subtemplate-wrapper .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2
}
.fb-field-wrapper > label {
    display: block;
    border-bottom: thin solid #eee;
    padding-bottom: 3px;
    margin-bottom: 7px
}
.fb-field-wrapper .subtemplate-wrapper abbr {
    color: #f00
}
.fb-field-wrapper .input-line {
    clear: both;
    margin-bottom: 10px
}
.fb-field-wrapper .input-line .above-line {
    margin-top: 7px
}
.fb-field-wrapper .input-line > span {
    display: inline-block;
    vertical-align: top
}
.fb-field-wrapper .input-line > span input {
    width: 100%
}
.fb-field-wrapper .input-line > span > label {
    display: block;
    font-size: 13px;
    margin-left: 3px
}
.fb-field-wrapper .help-block {
    display: block;
    font-size: 12px;
    margin-top: 5px
}
.fb-edit-field-wrapper {
    font-size: 13px
}
.fb-edit-field-wrapper .fb-field-label {
    font-weight: normal;
    background: #eee;
    padding: .75em;
    color: #666;
    font-size: 1.25em
}
.fb-edit-field-wrapper .fb-field-label .field-type {
    margin-top: .5em;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em
}
.fb-edit-field-wrapper .fb-field-label .field-type:before {
    content: 'Type: ';
    color: #999
}
.fb-edit-field-wrapper .fb-field-label .fa.fa-arrow-right {
    display: none
}
.fb-edit-field-wrapper .fb-edit-section-header {
    border-bottom: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    clear: both;
    font-weight: 700
}
.fb-edit-field-wrapper .js-add-option,
.fb-edit-field-wrapper .js-remove-option {
    padding: 3px 6px
}
.fb-edit-field-wrapper .fb-bottom-add {
    margin-top: 8px
}
.fb-common-wrapper .fb-label-description {
    margin-bottom: 10px
}
.fb-common-wrapper .fb-label-description input,
.fb-common-wrapper .fb-label-description textarea {
    width: 100%
}
.fb-common-wrapper .fb-label-description textarea {
    min-height: 5em
}
.response-field-draggable-helper {
    border: 1px dashed #ddd;
    background: #eee
}
.response-field-text input.rf-size-small {
    width: 100%
}
.response-field-text input.rf-size-medium {
    width: 300px
}
.response-field-text input.rf-size-large {
    width: 100%
}
.response-field-paragraph textarea.rf-size-small {
    width: 200px;
    min-height: 60px
}
.response-field-paragraph textarea.rf-size-medium {
    width: 400px;
    min-height: 100px
}
.response-field-paragraph textarea.rf-size-large {
    width: 100%;
    min-height: 200px
}
.response-field-address .street {
    width: 100%
}
.response-field-address .city,
.response-field-address .state,
.response-field-address .zip,
.response-field-address .country {
    width: 49%;
    float: left;
    margin-right: 2%;
}
.response-field-address .state, .response-field-address .country {
    margin-right: 0;
}

.response-field-address .country select {
    width: 100%;
    padding: 4px 0;
    border-radius: 2%;
}

.response-field-date .month,
.response-field-date .day,
.response-field-date .year {
    width: 50px
}
.response-field-time .hours,
.response-field-time .minutes,
.response-field-time .seconds {
    width: 50px
}
.response-field-checkboxes .fb-option,
.response-field-radio .fb-option {
    margin-bottom: 5px;
    display: inline-block
}
.response-field-website input {
    width: 100%;
}
.dolars, .cents {
    width: 48.6%;
    margin-right: 2%;
    float: left;
}

.cents {
    margin-right: 0;
}
